name: On merge deploy
run-name: "On merge: Deploy"
on:
  push:
    branches:
      - master
jobs:
  Run-Tests:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
          python-version: "3.10"

    - name: Install dependencies
      run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e . #<--- to install the hello package
      
    - name: Run pytest
      run: |
        pytest -q
  Build-Container-Then-Deploy:
    needs: Run-Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            christopherjdl/containers-to-fargate:latest
            christopherjdl/containers-to-fargate:${{ github.sha }}
          platforms: linux/amd64
          with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform Init
        run: terraform init
        working-directory: ./infra
        
      - name: Terraform Format
        run: terraform fmt -check
        working-directory: ./infra

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./infra

      - name: Terraform Plan
        env:
            TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
            TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
            TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
        run: terraform plan -no-color -out=tfplan
        working-directory: ./infra

      - name: Terraform Apply
        env:
            TF_VAR_aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
            TF_VAR_aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
            TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        run: terraform apply -auto-approve
        working-directory: ./infra